<div class="container mt-5 p-1">
  <h2>Ask Page</h2>
  <div class="row d-flex p-1">
    <div class="col-md-6">
    <form action="/answer" method="get" data-turbo="false">
      <label for="question" class="form-label">Ask the coach a question:</label>

      <div class="input-group mb-3">
      <input type="text" id="question" name="question" class="form-control">
      <input type="submit" value="Submit your question" class="btn bg-primary text-white">
      </div>
    </form>
    </div>
  </div>
</div>
